anyio @ file:///D:/bld/anyio_1633972330217/work/dist
asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1625395912402/work
awsebcli==3.20.2
botocore==1.21.60
cement==2.8.2
certifi==2021.10.8
click @ file:///D:/bld/click_1634002605485/work
colorama==0.4.3
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1633640170926/work
future==0.16.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1609518832927/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1630267685983/work
jmespath==0.10.0
pathspec==0.5.9
pydantic @ file:///D:/bld/pydantic_1620820216960/work
pypiwin32==223
python-dateutil==2.8.2
pywin32==302
semantic-version==2.8.5
six==1.14.0
sniffio @ file:///D:/bld/sniffio_1610318546199/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1626701188566/work
termcolor==1.1.0
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1632313171031/work
uvicorn @ file:///D:/bld/uvicorn_1630267686123/work
wcwidth==0.1.9
wincertstore==0.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
